doctype html
html
  head
    title TO DO APP
    link(rel='stylesheet' href='/static/main.css')
    link(rel='preconnect' href='https://fonts.gstatic.com')
    link(href='https://fonts.googleapis.com/css2?family=Crimson+Text&display=swap' rel='stylesheet')
  body
    div.container
      h1.logo TO DO APP

      block content
    p.footer This web application was created to fulfill Web Technology module’s requirements <br> and does not represent an actual company or service