:root {
	font-family: 'Crimson Text', serif;
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	background-color: #A7C1CF;
}

.container {
	max-width: 800px;
	margin: 50px auto;
}

.logo {
	text-align: center;
	font-size: 4rem;
	padding-bottom: 50px;
}

.form {
	width: 100%;
	display: flex;
	justify-content: space-between;
}

.input {
	display: inline-block;
	width: 80%;
	font-size: 1.5rem;
	padding: 10px;
	border: 1px solid #5D9DC1;
	font-family: inherit;
}

.btn {
	display: inline-block;
	padding: 15px 30px;
	font-size: 1.5rem;
	background: #5D9DC1;
	color: #fff;
	width: 15%;
	border: none;
}

.todos {
	margin-top: 25px;
	border: 1px solid #5D9DC1;
	padding: 10px;
}

.todo {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 10px;
	font-size: 1.5rem;
	border-bottom: 1px solid #5D9DC1;
}

.todo:last-child {
	border-bottom: none;
}

.todo:hover {
	background: #5D9DC1;
}

.err {
	text-align: center;
	color: red;
	font-size: 1.5rem;
	border: none;
	padding: 10px;
	margin-bottom: 10px;
}

.success {
	text-align: center;
	color: green;
	font-size: 1.5rem;
	border: none;
	padding: 10px;
	margin-bottom: 10px;
}

.delete {
	text-decoration: none;
	font-size: 1.5rem;
	padding: 7px 15px;
	background: red;
	color: #fff;
}

.done,
.undone {
	text-decoration: none;
	color: black;
}

.done {
	text-decoration: line-through;
}

.footer {
	text-align: center;
	font-size: 1.5rem;
}